<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.merrycodes">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.PlayHistoryActivity"></activity>
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.VideoListActivity" />
        <activity android:name=".activity.ExerciseDetailActivity" />
        <activity android:name=".activity.ChangeUserInfoActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.FindPasswordActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>